<div class="flex flex-col items-center">
	<%= button_to sanitize("&#8593"), 
                  upvote_path, 
                  method: :patch, 
                  class: vote_button_class(votable, 1) %>

	<span class="text-xs font-bold">
		<%= votable.karma %>
	</span>
	<%= button_to sanitize("&#8595"), 
                  downvote_path, 
                  method: :patch, 
                  class: vote_button_class(votable, -1) %>
</div>
