<li class="flex bg-white py-2">
	<div class="flex flex-col justify-between items-center px-4">
		<span>&#8593
		</span>
		<span class="text-xs font-bold">
			<%= post.votes %>
		</span>
		<span>&#8595
		</span>
	</div>
	<div class="flex flex-col gap-1">
		<h2 class="font-semibold">
			<%= link_to post.title, post %>
		</h2>
		<span class="text-sm text-gray-400">Posted by User1 <%= post.created_at %></span>
		<a href="#" class="text-sm">0 Comments</a>
	</div>
</li>
